

.barra-topo {
    background-color: #ebedef;
    width: 0 auto;
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.maquina{
    align-items: center;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;

}

.separado-vertical-barra{
    width: 1px;
    background-color: black;
    
}

.pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 904px;
}



.caixa-pesquisa > input {
    
    width: 215px;
    height: 28px;
    left: 575px;
    top: 13px;
    text-align: center;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.quatro-items{
    display: flex;
    align-items: flex-end;
     color:black;
    
}

.quatro-items img {
    margin-right: 25px;
    width: 30px;
    height: 30px;
}   

/*barra topo*/
/*conteudo*/

.conteudo {
    display: flex;
    background-color: aqua;
    width: 904px;
    justify-content: center;
    align-items: center;
}


.storys {
    width: 904px;
    height: 118px;
    border: solid 1px black;
    
}